.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

a{
  margin-top: 10px;
  font-size: 1.6rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
a:hover {
  color:white;
}
h3 {
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
footer {
  margin-top: 15%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
@media (max-width: 382px) {
  #heading {
    font-size: 3.6rem;
    text-align: center;
    margin-right: 60px;
  }
  .dice {
    text-align: unset;
    width: 50%;
  }
  p {
    font-size: 2rem;
  }
}